<h2>{{title}}</h2>
<hr />

<div class="ticket-info">
    <p><strong>Código:</strong> {{ticket.code}}</p>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <p><strong>Fecha:</strong> {{ticket.date}}</p>
    <p><strong>Total pagado:</strong> ${{ticket.amount}}</p>
</div>

<a href="/products">Volver a productos</a>